<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet">
<title>Youtube para MP3</title>
    <script>
      function show(){
        document.getElementById("show").style.display = "flex";
      }
    </script>
</head>

<body>
  <div class="nav">
    <a class="nav-link active" href="/">Youtube para Mp3</a>
</div>
  <div class="container">
    <div class="content">
      {% block content %} {% endblock %}
    </div>
</div>
<div class="footer">
  <p><b>Herivelto Junior © 2023</b></p>
</div>
</body>
</html>
