{% extends 'base.html' %}

{% block content %}
      <a href="/"><h1><span class="you">Youtube</span></a> para MP3</h1>
      <br>
      <p>Converta vídeos do Youtube para arquivos MP3 de graça e sem precisar instalar nenhum programa.</p>
      <form action="" method="POST">
        <input type="text" placeholder="Coloque aqui o link para o video..." name="url"><br><br>
        <button type="submit" class="btn" onclick="show()">Converter</button>
      </form>
      <br><br>
      <div id="show" style="padding: 20px; width: 50%; margin: 10px auto; border-radius: 4px; color :#235746; background-color: #D4EDDA; display: none">
        Convertendo, pode levar até 2 minutos, por favor espere...
      </div>
{% endblock %}
